.jumbotron{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    color: #FFF;
    text-align: center;
}

.jumbotron .bkg-splash{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.jumbotron .greyscale{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.jumbotron .video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
